@font-face {
    font-family: "nasalisation";
    src: url("ressources/fonts/Nasalization-Rg.otf") format("Opentype");
}

@font-face {
    font-family: "IBM";
    src: url("ressources/fonts/IBMPlexSans-VariableFont_wdth,wght.ttf") format("TrueType");
}

body {
    margin: 0;
    background: var(--bg);
}

h1, h2, h3, h4, h5, h6 {
    font-family: "nasalisation", serif;
    color: var(--text);
}

p {
    font-family: "IBM", serif;
    color: var(--muted);
}

:root {
    --bg: #0E0E11;

    --surface25: rgb(22 22 27 / 0.25);
    --surface50: rgb(22 22 27 / 0.5);
    --surface75: rgb(22 22 27 / 0.75);
    --surface100: rgb(22 22 27 / 1);

    --border: rgb(39 39 47 / 1);
    
    --text: #E9E9ED;
    --muted: #90909B;
    --accent: #8b7dd9;
}

.card {
    border-color: var(--border);
    border-style: solid;
    border-width: thin;
    border-radius: 5cqw;
    text-decoration: none;
    /* transition: all .1s ease-in-out; */
}


/* ANIMATIONS */

.hover-expand {
    transition: transform .5s ease-in-out;
    transform: scale(1);
}
.hover-expand:hover {
    transform: scale(1.02);
}



.hover-glow {
    transition: box-shadow .1s ease-in-out;
    box-shadow: 0 0 0 0 transparent;
}
.hover-glow:hover {
    box-shadow: 0 0 10px 5px var(--accent);
}



.hover-h-underline h1, h2, h3, h4, h5, h6 {
    text-decoration: underline 10% transparent;
}
.hover-h-underline:hover h1, h2, h3, h4, h5, h6 {
    text-decoration: underline 10% var(--accent);
}



.hover-fold-p p {
    transition: opacity .1s ease-in-out;
    opacity: 0;
    max-height: 0;
    margin: 0;
}
.hover-fold-p:hover p {
    opacity: 100%;
    max-height: 100%;
}