.main {
    margin: 0;
    display: grid;
    grid-template-columns: 33.33% 33.33% 33.33%;
    grid-template-rows: 100svh;
}

.segment {
    display: grid;
    margin: 5%;
    grid-template-columns:100%;
    grid-template-rows: 100%;
}
